@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row">
        <!-- Sidebar with Categories -->
        <div class="col-md-1 mb-4">
            
        </div>

        <!-- Main Content: Recently Asked Questions -->
        <div class="col-md-8">
            <h3 id="mainHead" class="mb-4">Recently Asked Questions</h3>
            <ul class="list-group" id="allPostsContainer">
                
            </ul>
        </div>

        <div class="col-md-3 mb-4">
            <h5 class="mb-3">Categories</h5>
            <div class="list-group" id="categoryLinkList">
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    $(document).ready(function(){
            var apiBaseUrl="@ViewBag.ApiBaseURL";
            GetCategoryList();
            GetPostList();
            function GetCategoryList(){
                $.ajax({
                 url: apiBaseUrl + "/Category",
                 type: "GET",
                 
                 success: function (d) {
        
                        CategoryToTable(d);
                 },
                 error:  function (d) {
                    
                    $("#categoryLinkList").html();
                    $("#categoryLinkList").html("<p>No Category Found</p>");
                 },
                });
            }

            function CategoryToTable(data){
                    $("#categoryLinkList").html();
                var row="";
                $.each(data,function(i,item){
                    row += `<a data-id=${item.id} class="list-group-item list-group-item-action categoryLinkItem">`;
                    row += item.name;
                    row+= "</a>";
                });
                if (data.length === 0){
                    $("#categoryLinkList").html();
                    $("#categoryLinkList").html("<p>No Category Found</p>");
                } else {

                $("#categoryLinkList").html(row);
                }

            }

            function GetPostList(){
                $.ajax({
                 url: apiBaseUrl + "/Post",
                 type: "GET",
                 
                 success: function (d) {
              
                        PostsToTable(d);
                 },
                 error:  function (d) {
                    
                    $("#allPostsContainer").html();
                    $("#allPostsContainer").html("<p>No Post Found</p>");
                 },
                });
            }

            function PostsToTable(data){
                    $("#allPostsContainer").html();
                var row="";
                $.each(data,function(i,item){
                    row += `<li class="list-group-item">`;
                    row += `<small class="d-block text-muted text-end position-absolute end-0 m-3">${item.categoryName}</small>`;
                    row += `<small class="d-block text-muted">${item.answerCount} Answer<span></span></small>`;
                    row += `<a href="Home/SinglePost/${item.id}" class="text-decoration-none">${item.title}</a>`;
                    row += `<small class="d-block text-muted">${item.created}</small>`;
                    row+= "</li>";
                });
                if (data.length === 0){
                    $("#allPostsContainer").html();
                    $("#allPostsContainer").html("<p>No Post Found</p>");
                } else {

                $("#allPostsContainer").html(row);
                }

            }

            $(document).on("click",".categoryLinkItem",function(){
                var id = $(this).attr("data-id");
                var nameC = $(this).text();
                $.ajax({
                 url: apiBaseUrl + "/Post/GetByCategoryId/" + id,
                 type: "GET",
                 
                 success: function (d) {
                        
                        
                        $("#mainHead").html(nameC);
                        PostsToTable(d);
                 },
                 error:  function (d) {
                    
                    $("#allPostsContainer").html();
                    $("#allPostsContainer").html("<p>No Post Found</p>");
                 },
                });
            });

    });
</script>

}