@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container col-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input id="userNameInput" type="text" class="form-control form-control-user"
                                               placeholder="UserName">
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <input id="userEmailInput" type="email" class="form-control form-control-user"
                                           placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input id="userPasswordInput" type="password" class="form-control form-control-user"
                                               placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="userPasswordConfirmInput" type="password" class="form-control form-control-user"
                                             placeholder="Repeat Password">
                                    </div>
                                </div>
                                <a id="registerUserBtn"  class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </a>
                                
                                
                            </form>
                            <hr>

                            <div id="divResult"></div>
                            
                            <div class="text-center">
                                <a class="small" asp-action="SignIn">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin2/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin2/js/sb-admin-2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#divResult").hide();
            var apiBaseUrl="@ViewBag.ApiBaseURL";

            $("#registerUserBtn").click(function(){
                $("#divResult").hide();
                var userName = $("#userNameInput").val();
                var email = $("#userEmailInput").val();
                var password = $("#userPasswordInput").val();
                var passwordConfirm = $("#userPasswordConfirmInput").val();
                var is_Active = true;
                var newUser = new Object();
                newUser.userName = userName;
                newUser.email = email;
                newUser.password = password;
                newUser.passwordConfirm = passwordConfirm;
                newUser.is_Active = is_Active;

                $.ajax({
                   url: apiBaseUrl + "/User/Register",
                   type: "POST",
                   
                   data: JSON.stringify(newUser),
                   contentType: "application/json",
                   success: function (d) {
                       var loginUser = new Object();
                       loginUser.userName = newUser.userName;
                       loginUser.password = newUser.password;
                       $.ajax({
                           url: apiBaseUrl + "/User/SignIn",
                           type: "POST",
                           data: JSON.stringify(loginUser),
                           contentType: "application/json",
                           success: function (s) {
                               sessionStorage.setItem("token", s.token);
                               location.href="/Home";
                           },
                           error:  function (d) {
                               location.href="/Home/SignIn";

                           },
                       });
                   
                   },
                   error:  function (d) {

                   var errors = d.responseJSON.errors;
                   $("#divResult").fadeIn(1000);
                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   },

                });
            });
      
        });
    </script>

</body>

</html>
