
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Categories</h1>

<div class="col-12 container">
    <div class="row justify-content-between">
        <div class="col col-md-7">
            <div class=" card card-body p-0">
                <table id="categoryTable" class="col-12 table table-hover table-bordered m-0">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Status</td>
                            <td>Created</td>
                            <td>Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5"><p>Loading...</p></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col col-md-5">

        <div class=" card card-body">
            <h2 class="mb-3" id="formHeader">Create Category</h2>
            <input type="hidden" id="categoryIdInput"/>
            <input type="text"
                   class="form-control mb-3"
                   placeholder="Name"
                   id="categoryNameInput" />
            <div class="form-check mx-1">
                <input class="form-check-input" type="checkbox" id="categoryStatusInput">
                <label class="form-check-label" for="flexCheckDefault">
                    Active
                </label>
            </div>
            <div class="row mt-3">
                <button class="btn btn-success mx-3" id="addCategoryBtn">Create</button>
                <button class="btn btn-warning mx-3" id="updateCategoryBtn">Update</button>
                <button class="btn btn-danger mx-3" id="deleteCategoryBtn">Delete</button>
                <button class="btn btn-primary mx-3" id="cancelCategoryBtn">Cancel</button>
            </div>
            <div id="divResult" style="display: none;"></div>
        </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function ClearInputs(){
            $("#categoryIdInput").val("");
            $("#categoryNameInput").val("");
            $("#divResult").hide();
            $("#updateCategoryBtn").hide();
            $("#deleteCategoryBtn").hide();
            $("#cancelCategoryBtn").hide();
            $("#categoryStatusInput").prop('checked', false);
            $("#addCategoryBtn").fadeIn(1400);
            $(".categoryRow").removeClass("bg-secondary text-white");
        }


        $(document).ready(function(){
            $("#updateCategoryBtn").hide();
            $("#deleteCategoryBtn").hide();
            $("#cancelCategoryBtn").hide();

            var apiBaseUrl="@ViewBag.ApiBaseURL";
            GetCategoryList();

            function GetCategoryList(){
                $.ajax({
                 url: apiBaseUrl + "/Category",
                 type: "GET",
                 headers: {
                  "Authorization": "Bearer " + token
                 },
                 success: function (d) {
                        CategoryToTable(d);
                        $("#formHeader").html("Create Category");
                 },
                 error:  function (d) {
                    
                    $("#categoryTable tbody").empty();
                    $("#categoryTable tbody").append("<tr><td class='p-3' colspan='5'><div class='alert alert-danger'>Something went wrong.</div></td></tr>");
                 },
                });
            }

            function CategoryToTable(data){
                $("#categoryTable tbody").empty();
                var row="";
                $.each(data,function(i,item){
                    row += `<tr class="categoryRow" data-id="${item.id}">`;
                    row += "<td>" + item.id + "</td>";
                    row+= "<td>" + item.name + "</td>";
                    if (item.is_Active){
                        row+= "<td><span class='badge badge-success p-2'>Active</span></td>";
                    }
                    else {
                        row+= "<td><span class='badge badge-warning p-2'>DeActive</span></td>";
                    }

                    row+= "<td>" + FormatDate(item.created) + "</td>";
                    row+= "<td>" + FormatDate(item.updated) + "</td>";
                    row+= "</tr>";
                });
                if (data.length === 0){
                    $("#categoryTable tbody").empty();
                    $("#categoryTable tbody").append("<tr><td class='p-3' colspan='5'><div class='alert alert-warning'>There is no record.</div></td></tr>");
                } else {

                $("#categoryTable tbody").append(row);
                }

            }

            $("#addCategoryBtn").click(function(){
                $("#divResult").hide();
                var categoryName = $("#categoryNameInput").val();
                var newCategory = new Object();
                newCategory.name = categoryName;
                newCategory.is_Active = $("#categoryStatusInput").is(':checked');

                $.ajax({
                   url: apiBaseUrl + "/Category",
                   type: "POST",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   data: JSON.stringify(newCategory),
                   contentType: "application/json",
                   success: function (d) {
                        GetCategoryList();
                        ClearInputs();
                   },
                   error:  function (d) {
                   var errors = d.responseJSON.errors;

                   $("#divResult").fadeIn(1000);
                   
                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   
                   
                   },
                });
            });

            $(document).on("click",".categoryRow",function(){
            var id = $(this).attr("data-id");
            
            
            $(".categoryRow").removeClass("bg-secondary text-white");
            $(this).addClass("bg-secondary text-white");
            $("#divResult").hide();
            $("#updateCategoryBtn").hide();
            $("#deleteCategoryBtn").hide();
            $("#cancelCategoryBtn").hide();
            $("#addCategoryBtn").hide();
            

            $.ajax({
               url: apiBaseUrl + "/Category/"+ id,
               type: "GET",
               headers: {
                "Authorization": "Bearer " + token
                },
               contentType: "application/json",
               success: function (d) {
                   $("#formHeader").html("Update Category");
                   $("#categoryIdInput").val(id);
                   
                   $("#categoryNameInput").val(d.name);
                   $("#categoryNameInput").focus();
                   $("#categoryStatusInput").prop('checked', d.is_Active);
               },
               error:  function (d) {},
            });

            $("#updateCategoryBtn").fadeIn(1000);
            $("#deleteCategoryBtn").fadeIn(1000);
            $("#cancelCategoryBtn").fadeIn(1000);
            
            });

            $("#deleteCategoryBtn").click(function(){
                var id = $("#categoryIdInput").val();
                
                $.ajax({
                   url: apiBaseUrl + "/Category/"+ id,
                   type: "DELETE",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   contentType: "application/json",
                   success: function (d) {
                    if (d.success) {
                       
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html(d.message);
                       $("#divResult").fadeOut(1000);

                       ClearInputs();
                       
                       GetCategoryList();
                   } else {
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-danger m-3 ");
                       $("#divResult").html(d.message);
                       $("#divResult").fadeOut(1000);
                   }
                   },
                   error:  function (d) {
                   
                   },
                });
                
            
            });

            $("#updateCategoryBtn").click(function(){
                $("#divResult").hide();
                
                var categoryName = $("#categoryNameInput").val();
                var newCategory = new Object();
                newCategory.name = categoryName;
                newCategory.is_Active = $("#categoryStatusInput").is(':checked');
                newCategory.id = $("#categoryIdInput").val();

                $.ajax({
                   url: apiBaseUrl + "/Category",
                   type: "PUT",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   data: JSON.stringify(newCategory),
                   contentType: "application/json",
                   success: function (d) {
                   $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html("Category Updated Successfuly!");
                       $("#divResult").fadeOut(1000);
                    ClearInputs();
                    GetCategoryList();
                   },
                   error:  function (d) {
                   var errors = d.responseJSON.errors;

                   $("#divResult").fadeIn(1000);

                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   },
                });
            });

            $("#cancelCategoryBtn").click(function(){
                ClearInputs();
                GetCategoryList();
            });
        });


    </script>
}