
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Posts</h1>

<div class="col-12 container">
    <div class="row justify-content-between">
        <div class="col col-md-7">
            <div class=" card card-body p-0">
                <table id="postTable" class="col-12 table table-hover table-bordered m-0">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Title</td>
                            <td>CategoryId</td>
                            <td>UserId</td>
                            <td>Status</td>
                            <td>Created</td>
                            <td>Updated</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5"><p>Loading...</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col col-md-5">

        <div class=" card card-body">
                <h2 class="mb-3" id="formHeader">Create Post</h2>
            <input type="hidden" id="postIdInput" />
            <input type="text"
                   class="form-control mb-3"
                   placeholder="Title"
                   id="postTitleInput" />
            
            <textarea id="postContentInput" placeholder="Content" class="form-control mb-3" style="resize: none;" rows="4"></textarea>
            <select class="form-control" id="postCategoryInput">
            </select>

            <div class="form-check mx-1">
                <input class="form-check-input" type="checkbox" id="postStatusInput">
                <label class="form-check-label" for="flexCheckDefault">
                    Active
                </label>
            </div>

            <div class="row mt-3">
                <button class="btn btn-success mx-2" id="addPostBtn">Create</button>
                <button class="btn btn-warning mx-3" id="updatePostBtn">Update</button>
                <button class="btn btn-danger mx-3" id="deletePostBtn">Delete</button>
                <button class="btn btn-primary mx-3" id="cancelPostBtn">Cancel</button>
            </div>
            <div id="divResult" style="display: none;"></div>
        </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function ClearInputs(){
            $("#postTitleInput").val('');
            $("#postContentInput").val('');
            $("#updatePostBtn").hide();
            $("#deletePostBtn").hide();
            $("#cancelPostBtn").hide();
            $("#postStatusInput").prop('checked', false);
            $("#addPostBtn").fadeIn(1400);
            $(".postRow").removeClass("bg-secondary text-white");
        }


        $(document).ready(function(){
            var apiBaseUrl="@ViewBag.ApiBaseURL";
            GetPostList();
            GetCategoryList();
            $("#updatePostBtn").hide();
            $("#deletePostBtn").hide();
            $("#cancelPostBtn").hide();

            function GetPostList(){
                $.ajax({
                 url: apiBaseUrl + "/Post",
                 type: "GET",
                 headers: {
                    "Authorization": "Bearer " + token
                 },
                 success: function (d) {
                        PostToTable(d);
                        $("#formHeader").html("Create Post");
                 },
                 error:  function (d) {
                    $("#postTable tbody").empty();
                    $("#postTable tbody").append("<tr><td class='p-3' colspan='7'><div class='alert alert-danger'>Something went wrong.</div></td></tr>");
                 },
                });
            }

            function PostToTable(data){
                $("#postTable tbody").empty();
                var row="";
                $.each(data,function(i,item){
                    row+= `<tr class="postRow" data-id="${item.id}">`;
                    row+= "<td>" + item.id + "</td>";
                    row+= "<td>" + item.title + "</td>";
                    
                    row+= "<td>" + item.categoryId + "</td>";
					row+= "<td>" + item.userId + "</td>";
                    if (item.is_Active){
                        row+= "<td><span class='badge badge-success p-2'>Active</span></td>";
                    }
                    else {
                        row+= "<td><span class='badge badge-warning p-2'>DeActive</span></td>";
                    }

                    row+= "<td>" + FormatDate(item.created) + "</td>";
                    row+= "<td>" + FormatDate(item.updated) + "</td>";
                    row+= "</tr>";
                });
                if (data.length === 0){
                    $("#postTable tbody").empty();
                    $("#postTable tbody").append("<tr><td class='p-3' colspan='7'><div class='alert alert-warning'>There is no record.</div></td></tr>");
                } else {

                $("#postTable tbody").append(row);
                }

            }

            function GetCategoryList(){
                $.ajax({
                 url: apiBaseUrl + "/Category",
                 type: "GET",
                 headers: {
                    "Authorization": "Bearer " + token
                 },
                 success: function (d) {
                        CategoryToForm(d)
                 },
                 error:  function (d) {},
                });
            }

            function CategoryToForm(data){
                $("#postCategoryInput").empty();
                var row="";
                $.each(data, function(i, item){
                    row += `<option value="${item.id}">${item.name}</option>`;
                });
                $("#postCategoryInput").append(row);
            }

            $("#addPostBtn").click(function(){
                var title = $("#postTitleInput").val();
                var content = $("#postContentInput").val();
                var categoryId = $("#postCategoryInput").find(":selected").val();
                var newPost = new Object();
                newPost.title = title;
                newPost.content = content;
                newPost.categoryId = categoryId;

                $.ajax({
                   url: apiBaseUrl + "/Post",
                   type: "POST",
                   headers: {
                   "Authorization": "Bearer " + token
                   },
                   data: JSON.stringify(newPost),
                   contentType: "application/json",
                   success: function (d) {
                        GetPostList();
                        ClearInputs();
                   },
                   error:  function (d) {
                   
                   var errors = d.responseJSON.errors;

                   $("#divResult").fadeIn(1000);

                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   },

                });
            });

            $(document).on("click",".postRow",function(){
            var id = $(this).attr("data-id");


            $(".postRow").removeClass("bg-secondary text-white");
            $(this).addClass("bg-secondary text-white");
            $("#divResult").hide();
            $("#updatePostBtn").hide();
            $("#deletePostBtn").hide();
            $("#cancelPostBtn").hide();
            $("#addPostBtn").hide();


            $.ajax({
               url: apiBaseUrl + "/Post/"+ id,
               type: "GET",
               headers: {
                "Authorization": "Bearer " + token
                },
               contentType: "application/json",
               success: function (d) {
                   $("#formHeader").html("Update Post");
                   $("#postIdInput").val(id);

                   $("#postTitleInput").val(d.title);
                   $("#postContentInput").val(d.content);
                   $("#postTitleInput").focus();
                   $("#postCategoryInput").val(d.categoryId);
                   $("#postStatusInput").prop('checked', d.is_Active);
               },
               error:  function (d) {},
            });

            $("#updatePostBtn").fadeIn(1000);
            $("#deletePostBtn").fadeIn(1000);
            $("#cancelPostBtn").fadeIn(1000);

            });

            $("#deletePostBtn").click(function(){
                var id = $("#postIdInput").val();

                $.ajax({
                   url: apiBaseUrl + "/Post/"+ id,
                   type: "DELETE",
                   headers: {
                   "Authorization": "Bearer " + token
                   },
                   contentType: "application/json",
                   success: function (d) {
                       
                    if (d.success) {
                      
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html(d.message);
                       $("#divResult").fadeOut(1000);

                       ClearInputs();

                       GetPostList();
                   } else {
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-danger m-3 ");
                       $("#divResult").html("Something went wrong!");
                       $("#divResult").fadeOut(1000);
                   }
                   },
                   error:  function (d) {
                       
                   },
                });
            });

            $("#updatePostBtn").click(function(){
                $("#divResult").hide();
                var title = $("#postTitleInput").val();
                var content = $("#postContentInput").val();
                var categoryId = $("#postCategoryInput").find(":selected").val();
                var newPost = new Object();
                newPost.title = title;
                newPost.content = content;
                newPost.categoryId = categoryId;
                newPost.id = $("#postIdInput").val();
                

                $.ajax({
                   url: apiBaseUrl + "/Post",
                   type: "PUT",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   data: JSON.stringify(newPost),
                   contentType: "application/json",
                   success: function (d) {
                   $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html("Post Updated Successfuly!");
                       $("#divResult").fadeOut(1000);
                    ClearInputs();
                    GetPostList();
                   },
                   error:  function (d) {
                   var errors = d.responseJSON.errors;

                   $("#divResult").fadeIn(1000);

                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   },
                });
            });

            $("#cancelPostBtn").click(function(){
                ClearInputs();
                GetPostList();
                $("#divResult").hide();

            });
        });


    </script>
}