
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Users</h1>


<div class="col-12 container">
    <div class="row justify-content-between">
        <div class="col col-md-7">
        <div class=" card card-body p-0">
            <table id="userTable" class="col-12 table table-hover table-bordered m-0">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>UserName</td>
                        <td>Email</td>
                        <td>Status</td>
                        <td>Created</td>
                        <td>Updated</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5"><p>Loading...</p></td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>
        <div class="col col-md-5">

        <div class=" card card-body">
                <h2 class="mb-3" id="formHeader">Create User</h2>
            <input type="hidden" id="userIdInput" />
            <input type="text"
				   class="form-control mb-3"
				   placeholder="UserName"
				   id="userNameInput" />
            <input 
                type="text"
                class="form-control mb-3"
				placeholder="Email"
                id="userEmailInput" />
			<input 
                type="password"
                class="form-control mb-3"
                placeholder="Password" 
                id="userPasswordInput" />
            <input type="password"
                class="form-control mb-3"
                placeholder="Password Confirm"
                id="userPasswordConfirmInput" />
            <div class="form-check mx-1">
                <input class="form-check-input" type="checkbox" id="userStatusInput">
                <label class="form-check-label" for="flexCheckDefault">
                    Active
                </label>
            </div>
            <div class="row mt-1">
                <button class="btn btn-success mx-2" id="addUserBtn">Create</button>
                <button class="btn btn-warning mx-3" id="updateUserBtn">Update</button>
                <button class="btn btn-danger mx-3" id="deleteUserBtn">Delete</button>
                <button class="btn btn-primary mx-3" id="cancelUserBtn">Cancel</button>
            </div>
            <div id="divResult" style="display: none;"></div>
        </div>
        </div>
    </div>
</div>


@section Scripts{
<script>
function ClearInputs(){
			$("#userIdInput").val('');
            $("#userNameInput").val('');
            $("#userEmailInput").val('');
            $("#userPasswordInput").val('');
            $("#userPasswordConfirmInput").val('');
            $("#updateUserBtn").hide();
            $("#deleteUserBtn").hide();
            $("#cancelUserBtn").hide();
            $("#userStatusInput").prop('checked', false);
            $("#addUserBtn").fadeIn(1400);
            $(".userRow").removeClass("bg-secondary text-white");
 }
$(document).ready(function(){
    var apiBaseUrl="@ViewBag.ApiBaseURL";
    GetUserList();

    function GetUserList(){
        $.ajax({
         url: apiBaseUrl + "/User",
         type: "GET",
         headers: {
           "Authorization": "Bearer " + token
         },
         success: function (d) {
                UserToTable(d)
                $("#formHeader").html("Create User");
         },
         error:  function (d) {
            $("#userTable tbody").empty();
         },
        });
    }

    function UserToTable(data){
        $("#userTable tbody").empty();
        var row="";
        $.each(data,function(i,item){
            row += `<tr class="userRow" data-id="${item.id}">`;
            row+= "<td>" + item.id + "</td>";
			row+= "<td>" + item.userName + "</td>";
			row+= "<td>" + item.email + "</td>";
            if (item.is_Active){
                row+= "<td><span class='badge badge-success p-2'>Active</span></td>";
            }
            else {
                row+= "<td><span class='badge badge-warning p-2'>DeActive</span></td>";
            }
            
			row+= "<td>" + FormatDate(item.created) + "</td>";
            row+= "<td>" + FormatDate(item.updated) + "</td>";
			row+= "</tr>";
        });
        $("#userTable tbody").append(row);

    }

    $("#addUserBtn").click(function(){
        $("#divResult").hide();
        var userName = $("#userNameInput").val();
        var email = $("#userEmailInput").val();
        var password = $("#userPasswordInput").val();
	    var passwordConfirm = $("#userPasswordConfirmInput").val();
        var is_Active = $("#userStatusInput").is(':checked');
        var newUser = new Object();
        newUser.userName = userName;
        newUser.email = email;
        newUser.password = password;
		newUser.passwordConfirm = passwordConfirm;
        newUser.is_Active = is_Active;

        $.ajax({
           url: apiBaseUrl + "/User",
           type: "POST",
           headers: {
           "Authorization": "Bearer " + token
            },
           data: JSON.stringify(newUser),
           contentType: "application/json",
           success: function (d) {
                GetUserList();
                ClearInputs();
           },
           error:  function (d) {

           var errors = d.responseJSON.errors;
           $("#divResult").fadeIn(1000);
           $("#divResult").addClass("alert alert-danger m-3 ");
           $("#divResult").html(Object.values(errors)[0][0]);
           },

        });
    });
    $(document).on("click",".userRow",function(){
            var id = $(this).attr("data-id");
            
            
            $(".userRow").removeClass("bg-secondary text-white");
            $(this).addClass("bg-secondary text-white");
            $("#divResult").hide();
            $("#updateUserBtn").hide();
            $("#deleteUserBtn").hide();
            $("#cancelUserBtn").hide();
            $("#addUserBtn").hide();
            

            $.ajax({
               url: apiBaseUrl + "/User/"+ id,
               type: "GET",
               headers: {
                "Authorization": "Bearer " + token
                },
               contentType: "application/json",
               success: function (d) {
                   $("#formHeader").html("Update User");
                   $("#userIdInput").val(id);
                   
                   $("#userNameInput").val(d.name);
                   $("#userEmailInput").val(d.name);
                   $("#userNameInput").focus();
                   $("#userStatusInput").prop('checked', d.is_Active);
               },
               error:  function (d) {},
            });
        $("#updateUserBtn").fadeIn(1000);
        $("#deleteUserBtn").fadeIn(1000);
        $("#cancelUserBtn").fadeIn(1000);
    });

    $("#deleteUserBtn").click(function(){
                var id = $("#userIdInput").val();
                $("#divResult").hide();
                $.ajax({
                   url: apiBaseUrl + "/User/"+ id,
                   type: "DELETE",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   contentType: "application/json",
                   success: function (d) {
                    if (d.success) {
                       
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html(d.message);
                       $("#divResult").fadeOut(1000);

                       ClearInputs();
                       
                       GetUserList();
                   } else {
                       $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-danger m-3 ");
                       $("#divResult").html(d.message);
                       $("#divResult").fadeOut(1000);
                   }
                   },
                   error:  function (d) {
                   
                   },
                });
                
            
            });
            $("#updateUserBtn").click(function(){
                $("#divResult").hide();
                
                var userName = $("#userNameInput").val();
                var newUser = new Object();
                newUser.name = userName;
                newUser.email = $("#userEmailInput").val();
                newUser.password = $("#userPasswordInput").val();
                newUser.passwordConfirm = $("#userPasswordConfirmInput").val();
                newUser.is_Active = $("#userStatusInput").is(':checked');
                newUser.id = $("#userIdInput").val();

                $.ajax({
                   url: apiBaseUrl + "/User",
                   type: "PUT",
                   headers: {
                    "Authorization": "Bearer " + token
                    },
                   data: JSON.stringify(newUser),
                   contentType: "application/json",
                   success: function (d) {
                   $("#divResult").fadeIn(1000);
                       $("#divResult").addClass("alert alert-success m-3 ");
                       $("#divResult").html("User Updated Successfuly!");
                       $("#divResult").fadeOut(1000);
                    ClearInputs();
                    GetUserList();
                   },
                   error:  function (d) {
                   var errors = d.responseJSON.errors;

                   $("#divResult").fadeIn(1000);

                   $("#divResult").addClass("alert alert-danger m-3 ");
                   $("#divResult").html(Object.values(errors)[0][0]);
                   },
                });
            });
            $("#cancelUserBtn").click(function(){
                $("#divResult").hide();
                ClearInputs();
                GetUserList();
            });
});


</script>
}